.VideoItem_row {
  display: flex;
  align-items: center;
  cursor: pointer;
  align-items: flex-start;
}

.VideoItem_thumbnail {
  margin-right: 20px;
  position: relative;
}

.VideoItem_duration {
  position: absolute;
  bottom: 5px;
  right: 0;
  width: auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.2rem;
  color: white;
}
