/* Source
**********
Embed Responsive Videos with YouTube iframe, Video Tags, or any two nested divs to maintain aspect ratio and the width according to the screen width
https://www.youtube.com/watch?v=StBj0vHMesk

*/

/* HTML Markup
***************
      <div className="video-player-wrapper">
        <div className="video-player">
          <iframe
            frameBorder="0"
            height="100%"
            width="100%"
            title="Video Player"
            src={videoSrc}
          />
        </div>
      </div>
*/

.video-player-wrapper {
  width: 100%;
  /* max-width: 800px; */
  margin: auto;
}

.video-player {
  width: 100%;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.video-player iframe {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
